apiVersion: 1

datasources:
- name: Prometheus
  type: prometheus
  access: proxy
  orgId: 1
  url: http://prometheus:9090/prometheus
  version: 1
  editable: false

- name: influxdb-agama_client_db
  type: influxdb
  access: proxy
  database: agama_client_db
  orgId: 1
  url: http://influxdb:8086/
  version: 1
  editable: false

- name: influxdb-telegraf
  type: influxdb
  access: proxy
  database: telegraf
  orgId: 1
  url: http://telegraf:8086/
  version: 1
  editable: false

