vrrp_script check_haproxy {                 
    script "path-to-check-script" 
    weight 20                              
    interval 1               
}
vrrp_instance XXX {             
    interface ens3
    virtual_router_id 13
{% if inventory_hostname == groups['web_servers'][0] %}
    priority 100
{% endif %}

{% if inventory_hostname == groups['web_servers'][1] %}
    priority 50
{% endif %}
    advert_int 1                            
    virtual_ipaddress {                     
        {{ virtual_ipaddress }}                   
    }
    unicast_peer {                          
{% if inventory_hostname == groups['web_servers'][0] %}
       lb-{{ groups['web_servers'][1].split('-')[1] }}
{% endif %}
{% if inventory_hostname == groups['web_servers'][1] %}
        lb-{{ groups['web_servers'][0].split('-')[1] }}
{% endif %}
    }
    track_script {
        check_haproxy
    }
}


