[Unit]
Description= agama client service for gethering data from agama
Documentation=<FIXME>
After=network-online.target

[Service]
User=agama-client
ExecStart=/usr/local/bin/agama-client

[Install]
WantedBy=multi-user.target
