acl nets {
{% for ip in nets %}
        {{ ip }};
{% endfor %}
};

options {
    
    allow-query { nets; };
	directory "/var/cache/bind";

	forwarders {
{% for ip in forwarders %}
        {{ ip }};
{% endfor %}
	};

    dnssec-validation no;
};

