acl nets {
{% for ip in nets %}
        {{ ip }};
{% endfor %}
};

options {
    
    allow-query { nets; };
	directory "/var/cache/bind";

	forwarders {
{% for ip in forwarders %}
        {{ ip }};
{% endfor %}
	};

    dnssec-validation no;
};

statistics-channels {
  inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};
