$TTL	604800
168.192.in-addr.arpa.	SOA	ns.{{ startup_name }}. mail.{{ startup_name }}. (
			      2		; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 )	; Negative Cache TTL
;

{% for vm in groups['dns_servers'] %}
168.192.in-addr.arpa.	IN	NS	{{ vm }}.{{ startup_name }}.
{% endfor %}

{% for vm in groups['all'] %}
{{ [3,2] | map('extract', hostvars[vm]['ansible_default_ipv4']['address'].split(".")) | join(".") }}  IN  PTR  {{ vm }}.{{ startup_name }}.
{% endfor %}
